
.header{
    position: absolute;
    top:0;
    left:0;
    height: 83px;
    width: 1349px;
    color: white;
    background-color:rgb(65,94,155);
}
.s{
    height: 65px;
    width: 980px;
    margin: 0px 184.500px 0px 184.500px;
}
#h1{
    margin-top: 17px;
    font-family: inherit;
    font:30px;
    height: 55px;
    width: 170px;
    position: absolute;
    left:200px;
    
}
.form{
 height: 65px;
 width: 469px;
}
#f1{
    position: absolute;
    left: 700px;
    top:0px;
}
#address{
    position: absolute;
    left: 0px;
    top:20px;
}
#f2{
    position: absolute;
    left: 1000px;
    top:0px; 
}
#password{
    position: absolute;
    left: 0px;
    top:20px;
}
#s{
    position: absolute;
    left: 0px;
    top:40px;
    color:rgb(111, 149, 199);
}

#f3{
    font-weight: 555;
    position: absolute;
    left: 1180px;
    top:20px;
    background-color: blue;
}
.bf{
    position: absolute;
    top:100px;
    left:200px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(20, 42, 75);
}
#i1{
    position: absolute;
    top:80px;
}
.Reg{
    font-size:25px ;
    position: absolute;
    left:900px;
    top:80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 .inputs{
    border-radius: 10%;
 }
 #in1{
    font-family: inherit;
    width: 172px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    font-size: 18px;
    padding: 8px 10px;
 }
 #in2{
    font-size: 18px;
    padding: 8px 10px;
     position: relative;
     border-radius: 5px;
     left:200px;
     top:-40px;
     font-family: inherit;
     width: 172px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    direction: ltr;
    color: #1c1e21;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
 }
 #in3{
    font-family: inherit;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    color: #1c1e21;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    direction: ltr;
    top:-30px;
 }
 #in4{
    font-family: inherit;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    color: #1c1e21;
    -webkit-text-security: disc !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    direction: ltr;
    top:-25px;
 }
 #sel1{
    font-family: inherit;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    overflow: visible !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    direction: ltr;
}
 #sel2{
    font-family: inherit;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    overflow: visible !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    direction: ltr;
    position: relative;
    left:70px;
    top:-34px;
 }
 #sel3{
     position: relative;
     top:-70px;     
     left:150px;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    overflow: visible !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    direction: ltr;
 }
 #radio{
    font-family: inherit;
    font-size: 12px;
    background-color: #fff;
    color: #1c1e21;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    font: 400 13.3333px Arial;
    direction: ltr;
    position: relative;
    top:-100px;
 }
 #rad1{
    position: relative;
    top:-130px;
    left:20px;
    font-family: inherit;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
    cursor: default;
    vertical-align: middle;
    direction: ltr
 }
 #radio1{
    position: relative;
    top:-214px;
    left:100px;
    font-family: inherit;
    font-size: 12px;
    background-color: #fff;
    color: #1c1e21;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    direction: ltr;
 }
 #rad2{
    position: relative;
    top:-243px;
    left:120px;
    font-family: inherit;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
    cursor: default;
    vertical-align: middle;
    direction: ltr;
 }
 #radio2{
    position: relative;
    top:-328px;
    left:200px;
    font-family: inherit;
    font-size: 12px;
    background-color: #fff;
    color: #1c1e21;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    direction: ltr;
}
#rad3{
    position: relative;
    top:-355px;
    left:220px;
    font-family: inherit;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
    cursor: default;
    vertical-align: middle;
    direction: ltr
}
#submit{
    font-size: 19px;
    font-family: inherit;
    font-weight: bold;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    background: linear-gradient(#79bc64, #578843);
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: 10px;
    margin-bottom: 10px;
    top:-400px;
}
#vk{
    position: relative;
    top:-400px;
    font-family: inherit;
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
    display: block;
    direction: ltr;
    line-height: 1.34;
}
#ft1{
    position: relative;
    font-size: 15px;
    top:860px;
    left:900px;
}
#pf2{
    position: relative;
    top:860px;
    left:100px;
}
