.div1{

    position:absolute;
    top: 6px; 
    background-color: white;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 361px;
    margin-left: 747px;
    width: 350px;
    height: 728px;
    border: 1px groove white;
    padding-top: 2px;

}

.h2{
    color: #999999;
    font-family: 'PT Serif', serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.facebooklink{
    
    margin-top: 24px;
    color: #FFFFFF;
    background-color: #3897F0;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    text-decoration: none;
    border: 3px solid #3897F0;
    border-width: 12px 42px 10px 42px;
    border-radius: 5px;     
    
}

.body{
    background-color: #fafafa;
  
}

.instamage{
    background-color: #fff;
    margin-bottom: 155px;
    margin-left: 350px;
}
#instagramlog{
        
    margin-top: 22px;
}

.borderforor{
    display: flex;
    color:#999;
    top: 273px;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    left: 160px;
    width:100px;
    margin-top: 20px;
    margin-left: 50px;
}
#line1{
    width: 100px;
}
.line{
    padding: 0px 10px 10px 10px;
    margin-top: -0.7px;
}
#line2{
    width:100px;
}

input{
    border:0;
    width: 268px;
    height: 34px;
    margin:4px 4px 4px 4px;
    background-color:  #fafafa;
    text-decoration: none;
    border:1px solid #cecdcdcf;
    border-radius: 3px;
}

#submit{
    height: 35px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    background-color: #3897F0;
   
    border-radius: 5px;
}

.text{
    font-family: 'PT Serif', regular;
    font-size: 14px;
    color: #999999;
}

#uslovia{
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #727272;
}

.instaacc{
    position: absolute;
    font-family: 'PT Serif', regular;
    text-align: center;
    font-size: 15px;
    color: #262626;
    border:1px groove rgb(255, 255, 255);
    width: 350px;
    height: 70px;
    margin-left: 747px;
    margin-top: 638px;
    background-color:white;
}

.Enter1{
    margin-top:24px;
}

.Enter{
    text-decoration: none;
    color: #3897f0;
}

#install{
    text-align: center;
    position: relative;
    top:750px;
    right: 100px;
}
.appStore{
    position: relative;
    top:750px;
    right: 0px;
}
.googlePay{
    position: relative;
    top:750px;
    right: 0px;
}





